<section class="about-area about-five">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-five-content">
        <h6 class="small-title text-lg">OUR STORY</h6>
        <h2 class="main-title fw-bold">Our team comes with the experience and knowledge</h2>
        <div class="about-five-tab">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-who-tab" data-bs-toggle="tab" data-bs-target="#nav-who"
                type="button" role="tab" aria-controls="nav-who" aria-selected="true">Who We Are</button>
              <button class="nav-link" id="nav-mision-tab" data-bs-toggle="tab" data-bs-target="#nav-mision"
                type="button" role="tab" aria-controls="nav-mision" aria-selected="false">Our Mision</button>
              <button class="nav-link invisible" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history"
                type="button" role="tab" aria-controls="nav-history" aria-selected="false">our History</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
              <p>
                MicroXpace is a group of scientists who believe that microbes
                are the most compelling force on earth with the power to solve major problems faced by
                our planet.
              </p>
            </div>
            <div class="tab-pane fade" id="nav-mision" role="tabpanel" aria-labelledby="nav-mision-tab">
              <p>
                Extend the use of microbe-based practices and the most-modern technologies
                instead to solve latent problems of social and environmental development
                associated with animal health.
              </p>
              <p>
                We provide specialized services in the identification and characterization of problems
                associated with disease-causing agents in animals and resident microbial communities,
                and we offer alternative products and solutions based on beneficial microbes.
              </p>
              <p>
                Indeed, we aim to introduce our products as a standardized and everyday practice in the
                animal health sector.
              </p>
            </div>
            <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
              <p>microXpace history, ideas, grouping, foundation and ongoing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>