<section class="about-area about-five">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-five-content text-center">
        <h5>People | Animals | Environment</h5>
        <h3 class="main-title fw-bold text-uppercase">Innovation in microbial solutions</h3>
        <div class="about-five-tab">
          <p class="lead">microXpace's mission is to put microbial applications <br />
            at the frontline of the 'One Health' crusade.</p>
        </div>
      </div>
    </div>
  </div>
</section>