<section id="call-action" class="call-action">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
        <div class="inner-content">
          <h2>We are passionate <br />about innovation</h2>
          <p>As research leaders in Life Sciences, we have known for a long time that infectious diseases affecting
            humans, animals and plants are a challenge for global health, food security and well-being.</p>
          <p>We have also known for a long time that as part of the microbiota, beneficial microbes have developed
            natural strategies to fight infectious diseases.</p>
          <p>Now, as entrepreneurial researchers we want to do something about it: at microXpace, we aim at developing
            transformative microbial technologies to improve health and animal production in a sustainable manner.
          </p>
          <p class="lead">For the next few years,<br />our ambition is to make a global impact on humanity. <br />
            Our mission is to put transformative microbial technologies <br />in the hands of those who needs them more.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>