<section class="about-area about-five">
  <div class="container">
    <div class="row align-items-center">
      <div class="about-five-content text-center">
        <h5>People | Animals | Environment</h5>
        <h3 class="main-title fw-bold text-uppercase">Innovation in microbial solutions</h3>
        <div class="about-five-tab">
          <blockquote class="blockquote">
          <p class="lead">microXpace&#39;s mission is to put advanced microbial applications<br />
            at the frontline of the &#39;One Health&#39; initiative.</p>
          </blockquote>
          <img style="height: 90px; width: 90px;" src="assets/images/deeptech.png" />
          <blockquote class="blockquote" style="margin-top: 20px;">
            <p>microXpace was labeled “DeepTech” by Bpifrance. <br /> A great recognition to our young start-up.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>