<section id="partners" class="brand-area section">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five" style="max-width: none;">
    <div class="container">
      <div class="row">
        <div class="content">
          <h6>COMMUNITY</h6>
          <p>The only way to meet the challenges ahead is removing boundaries that limit human creativity
            by building communities of people and institutions with shared values and commitments. Bringing
            innovation to practical use requires a common effort of teams with complementary skills.</p>
          <p><b>microXpace</b> is proud of its community that include major players in academy and biotech sectors as well as
            remarkable individuals.</p>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <!-- <div class="section-title-five" style="max-width: none;">
    <div class="container">
      <div class="row">
        <div class="content">
          <h3>Partners</h3>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="clients-logos">
          {% for partner in site.data.community %}
          <div class="single-image">
            <a href="{{ partner.link }}" target="_blank">
              <img src="{{ '/assets/images/community/' | relative_url }}{{ partner.image}}" alt="{{ partner.name }}" />
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="section-title-five" style="max-width: none; margin-top: 30px;">
    <div class="container">
      <div class="row">
        <div class="content">
          <h3>Microbiome Research Centre</h3>
          <h5>The ideal ecosystem to foster new ideas.</h5>
          <spam>
            <p>To unlock the knowledge through community building <b>microXpace</b> created the <b>Microbiome Research Centre</b>
              to reveal untapped microbial innovation contained within a wide range of diverse species.</p>
          </spam>
          <div class="clients-logos">
            <div class="single-image">
              <img src="/assets/images/community/microbiome.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>