<section id="partners" class="brand-area section" style="padding-bottom: 1px;">
  <div class="section-title-five" style="max-width: none;">
    <div class="container">
      <div class="row">
        <div class="content">
          <h6>COMMUNITY</h6>
          <p>The only way to meet the challenges ahead is to build communities of people and institutions
            with shared values and commitments, is to remove boundaries that limit human creativity.</p>
          <p>Bringing innovation to practical use requires a common effort of teams with complementary skills.</p>
          <p>microXpace is proud of its community that includes academic institutions and biotech companies as
            well as remarkable individuals.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="clients-logos">
          {% for partner in site.data.community %}
          <div class="single-image">
            <a href="{{ partner.link }}" target="_blank">
              <img src="{{ '/assets/images/community/' | relative_url }}{{ partner.image}}" alt="{{ partner.name }}" />
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="section-title-five" style="max-width: none; margin-top: 30px;">
    <div class="container">
      <div class="row">
        <div class="content">
          <h3>Microbiome Research Centre</h3>
          <h5 style="margin-top: 20px;">The ideal ecosystem to foster new ideas.</h5>
          <p style="margin-top: 10px;">microXpace created the <b>Microbiome Research Centre</b>
            to unlock the knowledge through community building and reveal untapped biological innovations contained
            within a wide range of microbial species.</p>
          <div class="clients-logos">
            <div class="single-image">
              <img src="/assets/images/community/microbiome.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>