<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-xl">
        <div class="contact-item-wrapper">
          <div class="row">
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="lni lni-phone"></i>
                </div>
                <div class="contact-content">
                  <h4>Contact</h4>
                  <p>+33 6 31 235 191</p>
                  <p><a href="mailto:office@microxpace.com">office@microxpace.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="lni lni-map-marker"></i>
                </div>
                <div class="contact-content">
                  <h4>Address</h4>
                  <p>Genopole Entreprises - Campus 3, 4 rue Pierre Fontaine</p>
                  <p>91058 Évry-Courcouronnes</p>
                  <p>France</p>
                </div>
              </div>
            </div>
            <!-- <div class="col-12 col-md-6 col-xl-12">
              <div class="contact-item">
                <div class="contact-icon">
                  <i class="lni lni-alarm-clock"></i>
                </div>
                <div class="contact-content">
                  <h4>Schedule</h4>
                  <p>24 Hours / 7 Days Open</p>
                  <p>Office time: 10 AM - 5:30 PM</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>