<footer class="footer-area footer-eleven">
  <!-- Start Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="inner-content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="footer-widget f-about">
              <div class="logo">
                <a href="{{ 'index.html' | relative_url }}">
                  <img src="{{ 'assets/images/logo.svg' | relative_url }}" alt="#" class="img-fluid" />
                </a>
              </div>
            </div>
            <!-- End Single Widget -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="footer-widget newsletter">
              <p>Unleashing the power of beneficial microbes to solve major problems faced by humanity.</p>
            </div>
            <!-- End Single Widget -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
</footer>