<section class="navbar-area navbar-nine">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="index.html">
            <img src="{{ 'assets/images/white-logo.svg' | relative_url }}" alt="Logo" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNine"
            aria-controls="navbarNine" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse sub-menu-bar" id="navbarNine">
            <ul class="navbar-nav me-auto">
              {% for item in site.data.navigation %}
              <li class="nav-item">
                <a class="page-scroll {% if item.active %} active {% endif %}" href="#{{ item.link }}">{{ item.name
                  }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        <!-- /navbar -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>