<div id="partners" class="brand-area section">
  <!--======  Start Section Title Five ======-->
  <div class="section-title-five" style="margin-bottom: 0px; margin-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>Meet our Partners</h6>
            <h2>Academic, Industrial and Incubator Partners</h2>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!--======  End Section Title Five ======-->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-12">
        <div class="clients-logos">
          {% for partner in site.data.partners %}
          <div class="single-image">
            <a href="{{ partner.link }}" target="_blank">
              <img src="{{ '/assets/images/partners/' | relative_url }}{{ partner.image}}" alt="{{ partner.name }}" />
            </a>
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-primary">{{ partner.type }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>