<section id="products" class="services-area services-eight" style="background-color: var(--bs-white);">
  <div class="section-title-five">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h6>Solutions</h6>
            <h5 class="text-lg">Our natural solutions come with billions years of evolution.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="text-align: center;">
    <div class="about-five-content mb-4">
      <h2 class="fw-bold m-4">Alpha-Gal Solutions</h2>
      <p class="text-lg">Harnessing the power of natural antibodies to fight infectious diseases
        affecting aquaculture and poultry industries.</p>
      <h4 class="m-4">Key concepts</h4>
      <p>Gut beneficial bacteria have evolved for millions of years within their vertebrate
        hosts
        such as fish, birds and humans. The symbiotic relationship between microbes and animals survived
        natural selection because the microbiota protects the animals against major threats such as infectious
        diseases.
        Bacteria in the gut microbiota express the glycan alpha-Gal, and induced the production of natural
        anti-alpha-Gal antibodies. </p>
      <p>A group of researchers (some of them co-founders of microXpace) discovered that
        natural anti-alpha-Gal
        can kill important pathogens affecting fish, birds and humans alike.
        We also learned to manipulate the natural immune response to alpha-Gal and put the animal in a ready state
        to fight against several pathogens simultaneously.</p>
    </div>

    <div class="video-area video-one">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="video-content text-center">
              <img src="/assets/images/interview_thumbnail.jpg" alt="Video" />
              <a class="video-popup glightbox" href="https://www.youtube.com/watch?v=BxJNWY_5fEo">
                <i class="lni lni-play"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
            <div class="video-title text-center">
              <p>Interview with Alejandro Cabezas-Cruz about key discoveries<br /> related with alpha-Galimmunity.</p>
              <p>
                <a target="_blank"
                  href="https://www.vet-alfort.fr/actualites-de-l-ecole/des-chercheurs-explorent-un-type-de-vaccin-innovant">
                  Press release, 15 septembre 2020</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-five-content mt-2">
      <h4 class="mb-2">Our solution at hand</h4>
      <p>
        <b>microXpace</b> is using a patented technology to, together with our biotech partner Lallemand,
        develop a collection of products to protect fish and poultry against major infectious diseases
        simultaneously.<br />
        The envisaged product will be completely safe and environmentally friendly.
      </p>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script>
  //========= glightbox
  const videoTwo = GLightbox({
    selector: ".glightbox",
    type: "video",
    source: "youtube", //vimeo, youtube or local
    width: 900,
    autoplayVideos: true,
  });
</script>