<!DOCTYPE html>
<html lang="en">

<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--====== Title ======-->
    <title>microXpace</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.svg' | relative_url }}" type="image/svg" />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/lineicons.css' | relative_url }}" />

    <!--====== Tiny Slider css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/tiny-slider.css' | relative_url }}" />

    <!--====== gLightBox css ======-->
    <link rel="stylesheet" href="{{ 'assets/css/glightbox.min.css' | relative_url }}" />

    <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}" />
</head>

<body>
    {% include navigation.html %}
    {{ content }}

    <!--====== js ======-->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/glightbox.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/tiny-slider.js"></script>

    <script>

        //===== close navbar-collapse when a  clicked
        let navbarTogglerNine = document.querySelector(
            ".navbar-nine .navbar-toggler"
        );
        navbarTogglerNine.addEventListener("click", function () {
            navbarTogglerNine.classList.toggle("active");
        });

        // ===== navbar nine sideMenu
        let sideMenuLeftNine = document.querySelector(".navbar-nine .menu-bar");

    </script>
</body>

</html>